@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive-foreground: 220 0% 100%;
    --secondary-foreground: 220 0% 100%;
    --popover-foreground: 220 10% 85%;
    --primary-foreground: 220 0% 100%;
    --accent-foreground: 220 0% 100%;
    --muted-foreground: 220 10% 70%;
    --card-foreground: 220 10% 85%;
    --destructive: 0 80% 50%;
    --background: 220 10% 10%;
    --foreground: 220 10% 90%;
    --secondary: 200 60% 40%;
    --popover: 220 5% 12%;
    --primary: 200 90% 50%;
    --border: 220 5% 48%;
    --accent: 340 80% 50%;
    --muted: 220 5% 15%;
    --input: 220 5% 37%;
    --card: 220 5% 15%;
    --ring: 200 90% 50%;
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  .container {
    @apply px-8 lg:px-6;
  }

  .blog-post h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl [&:not(:first-child)]:mt-6;
  }

  .blog-post h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight [&:not(:first-child)]:mt-6;
  }

  .blog-post h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight [&:not(:first-child)]:mt-6;
  }

  .blog-post h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight [&:not(:first-child)]:mt-6;
  }

  .blog-post p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  .blog-post blockquote {
    @apply mt-6 border-l-2 pl-6 italic [&:not(:first-child)]:mt-6;
  }

  .blog-post ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }

  .blog-post a {
    @apply underline;
  }
}
