@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive-foreground: 220 0% 100%;
    --secondary-foreground: 220 0% 100%;
    --popover-foreground: 220 10% 85%;
    --primary-foreground: 220 0% 100%;
    --accent-foreground: 220 0% 100%;
    --muted-foreground: 220 10% 70%;
    --card-foreground: 220 10% 85%;
    --destructive: 0 80% 50%;
    --background: 220 10% 10%;
    --foreground: 220 10% 90%;
    --secondary: 200 60% 40%;
    --popover: 220 5% 12%;
    --primary: 200 90% 50%;
    --border: 220 5% 48%;
    --accent: 340 80% 50%;
    --muted: 220 5% 15%;
    --input: 220 5% 37%;
    --card: 220 5% 15%;
    --ring: 200 90% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  .container {
    @apply px-8 lg:px-6;
  }
}
